<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.;Initial Catalog=Webshop;Integrated Security=true;MultipleActiveResultSets=true" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="Butzelaar.Webshop.Database.WebshopContext, Butzelaar.Webshop.Database">
        <databaseInitializer type="Butzelaar.Webshop.Database.WebshopContextInitializer, Butzelaar.Webshop.Database" />
      </context>
    </contexts>
  </entityFramework>
</configuration>